---
import Layout from "@layout/Layout.astro";
import RandomName from "@components/RandomName.astro";
import RandomFact from "@components/RandomFact.astro";
import Delay from "@components/Delay.astro";
---

<Layout>
	<h1 class="text-xl font-bold">Streaming</h1>
	<p>Fetch in a component, thus streaming:</p>
	<div class="flex flex-col gap-4 p-4 bg-black/10 rounded-xl">
		<RandomName />
		<RandomFact />
		<Delay />
	</div>
</Layout>
